<div class="tab-pane fade" id="options-tab-pane" role="tabpanel" aria-labelledby="options-tab" tabindex="2">
  <div class="row mt-3">
    <div class="col-sm-12">
      <input type="button" id="export-products-input" class="d-none"/>
      <label for="export-products-input" class="btn">{{ page.export_data }}</label>
      <input type="file" id="import-products-input" accept=".json" class="d-none"/>
      <label for="import-products-input" class="btn">{{ page.import_data }}</label>
      <button id="logout-btn" class="btn btn-danger">{{ page.logout }}</button>
      {% include language_toggle.liquid %}
    </div>
  </div>
</div>